p {
 color :green;
 font-size : 20pt;
}

.red {
color : #FF8080;
background-color: rgb(20,20,80);
}

p.red{
font-weight: 800;
background-color: yellow;
}

#Myspecialdiv{
font-family: Helvetica, Arial;
}

h1 {
font-size : 100px;
 text-allign: center;
} 

